* {
    box-sizing: border-box;
}

html {
    background-color: rgb(178, 231, 232)
}

.chef,
.tzatziki{
    width: 750px;
    height: auto;
}

.kafta, 
.hummus {
    width: auto;
    height: 750px;
}

.table {
    font-size: larger;
    margin-top: 20px;;
}

.button:hover,
.link:hover {
    background-color: rgb(242,208,150);
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgb(48,77,99);


}
